---
layout: page
---

{% if site.data.social-media %}
<div id="social-media">
    {% assign sm = site.data.social-media %}
    {% for entry in sm %}
        {% assign key = entry | first %}
        {% if sm[key].id %}
            <a href="{{ sm[key].href }}{{ sm[key].id }}" title="{{ sm[key].title }}"><i class="fa {{ sm[key].fa-icon }}"></i></a>
        {% endif %}
    {% endfor %}
</div>
{% endif %}



<ul>
	{% for post in site.posts %}
		{% if post.layout == "post" %}
			<p>
            	<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
            	<h5>{{ post.date | date_to_string }}</h5>
            	<p>{{ post.content | truncatewords: 100 }} <a href="{{ post.url }}">leer más ( ͡° ͜ʖ ͡°) </a></p>
        	</p>
    	{% endif %}
 	{% endfor %}
</ul>