{
	margin: 0;
	padding: 0px;
}

html, body {height:100%;}

body {
  background-color: #21222c;
  /* Este color no es negro completamente pero para un fondo oscuro en una web
   es mejor uno de este tipo a un negro puro ya que es muy intenso.
  */
}


.imagen-chica img{
	height: 110px; 
	margin: 1px 1px;
	cursor: pointer;
	display: block;
	opacity: 0.6;
}

.imagen-chica img:hover{
	opacity: 1;
}

.imagen-chica{
	float: left;
}

.imagen{
	height:100%;
	margin: 0 0;
	position: absolute;
	top:  0;
	bottom: 0px;
	left: 0;
}


.imagen-grande img{
	height: 550px;
}

.imagen-grande{
	float: right;
	padding: 0px;
}
