{
	margin: 0;
	padding: 0px;
}

html, body {height:100%;}

body {
  background-color: #21222c;
  /* Este color no es negro completamente pero para un fondo oscuro en una web
   es mejor uno de este tipo a un negro puro ya que es muy intenso.
  */
}


.imagen-chica img{
	height: 75px; 
	margin: 1px 1px;
	cursor: pointer;
	display: block;
	opacity: 0.6;
}

.imagen-chica img:hover{
	opacity: 1;
}

.imagen-chica{
	float: left;
}

.imagen{
	height:100vh;
	margin: 0 -80px;
	position: absolute;
	top:  50%;
	bottom: 0px;
	left: 50%;
	transform:  translate(-50%, -50%);

}


.imagen-grande img{
	height: 550px;
}

.imagen-grande{
	float: right;
	padding: 0px;
}
