/*
Formato de las galerías de imagenes individuales.
*/

html{ 
	height: 100%;
	width: 100%;
 }

body{
	height: 100%;
	background-color: #21222c;
	/* Este color no es negro completamente pero para un fondo oscuro en una web
  	es mejor uno de este tipo a un negro puro ya que es muy intenso.
 	*/
}

.BarraBotones{
  overflow: hidden;
  background: none !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*a es para crear links, así que modificaremos las 
caracteristicas de ese <a> dentro del div BarraBotones */
.BarraBotones a{
	font-size: 25px;
	line-height:17px;
  float: left;
	color: #f2f2f2;
 	text-align: center;
 	padding: 	12px 20px; /*dimensiones de los botones*/
 	text-decoration: none;
	top:0;
}

.BarraBotones a:hover{
	transition: 0.5s;
	background-color: #ddd;
	color: black;
}

.BarraBotones a.active{
	box-shadow: 0 0 5px 5px #04AA6D;
	background-color: #4CAF50;
	color: white;
}

.Boton_volver{
	right: 0;
	position: absolute;
	top: 0px;
	padding: 10px;
	overflow: hidden;
  background: none !important;
  display: flex;
  justify-content: center;
}

.Boton_volver a{
	font-size: 25px;
	line-height: 30px;
	border-radius: 25px;
 	float: left;
	color: #f2f2f2;
 	text-align: center;
 	padding: 20px 20px; /*dimensiones de los botones*/
 	text-decoration: none;
	top: 10px;
}

.Boton_volver a:hover{
	transition: 0.5s;
	background-color: lightseagreen;
	color: black;
}

.Boton_volver a.active{
	box-shadow: 0 0 5px 5px #04AA6D;
	background-color: #4CAF50;
	color: white;
}

.CajaInfo{
	resize: vertical;
 	overflow: auto;
	width: fit-content;
  background-color: black;
	max-width:70%;
	border-radius: 15px;
	opacity: 0.85;
	position: absolute;
  top: 20px;
  height: 20%;
	padding-top: 5px;
	padding-left: 5%;
	padding-right: 5%;
	color: white;
	margin: 60px 40px;
	text-align: center;
	box-shadow: 0 0 25px 0 black;
	word-wrap: break-word;
  max-width: 80%; 
  text-overflow: ellipsis;
}

.CajaInfo p{
	font-size: 12px;
	width: fit-content;
	}

.imagen{
  top: 32%;
	width: 100%;
  display: flex;
	max-height: 90%;
	position: absolute;

	bottom: 0px;
	left: 0;
	padding-left: 5%;
	padding-right: -5%;
}

.imagen-chica img{
	height: 10%; 
	margin: 1px 1px;
	cursor: pointer;
	display: block;
	opacity: 0.5;
}

.imagen-chica img:hover{
	transition: 0.1s;
	opacity: 1;
	box-shadow: 0px 0px 20px 0px white;
}

.imagen-chica{
	float: left;
}

.imagen-grande img{
  max-width: 88%;
}

.imagen-grande{
	float: right;
	padding: 0px;
}

.Contenido{
  justify-content: center;
}

.contenido h1{
	font-size: 40px; 
}

    
</style>