<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

<!-- Hacemos un media query, que sirve para identificar si el blog esta siendo visualizado  -->

<style>
    @media screen and (max-width: 600px) {
        .sidebar{display:none}
    }

</style>


<ul>
  {% for post in site.categories.Galeria %}
    {% if post.layout == "galeria" %}
      <p>
              <h2>{{ post.title }}</h2>
              <h5>{{ post.telescopio }}</h5>
              <p>{{ post.content | truncatewords: 50 }}</p>
          </p>
      {% endif %}
  {% endfor %}
</ul>


<body>

    {% include sidebar.html %}

    <div class="content container">
        {{ content }}
    </div>

  </body>
</html>
