<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

<!-- Hacemos un media query, que sirve para identificar si el blog esta siendo visualizado por cierto dispositivo -->
<style>
    @media screen and (max-width: 800px) {
        .sidebar{display:none} 
        .Boton_inicio{font-size: 10px}
        .Boton_Volver_Galeria{font-size: 10px} 
    } 
    @media not (max-width: 800px) {
        .Boton_inicio{display: none}
        .Boton_Volver_Galeria{display: none} 
    }
</style>

{% include head.html %}

<body>

    <!-- agregamos botones y sus condiciones -->
    {% include Botones.html %} 

    {% if page.telescopio != "none" %}
        <style> .Boton_inicio{display: none} </style>
    {% endif %}


    {% if page.telescopio == "none"%}
        <style> .Boton_Volver_Galeria{display: none} </style>
    {% endif %}

    {% include sidebar.html %}
    
    <div class="content container">
        {{ content }}
    </div>

  </body>
</html>
