<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

<!-- Hacemos un media query, que sirve para identificar si el blog esta siendo visualizado  -->
<style>
    @media screen and (max-width: 600px) {
        .sidebar{display:none}
    }
    
    @media not screen and (max-width: 600px) {
        .Boton_volver{display:none}
    }

</style>

{% include head.html %}

<body>

    {% include sidebar.html %}
    
    {% include Botones.html %}

    <div class="content container">
        {{ content }}
    </div>

  </body>
</html>
